body {
  font-size: 16pt;
  font-family: "Darker Grotesque", sans-serif;
  background-color: lightcyan;
  color: rgb(37, 2, 2);
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

header {
  color: red;
  background-color: darkblue;
  padding-left: 3em;
  padding-top: 2em;
}

header img {
  width: 200px;
  height: auto;
  border: solid;
  
}

h1 {
  font-size: 1rem;
  font-family: "Caudex", serif;
  color:red;
  padding: 1rem;
}

footer {
  color: red;
  background-color: darkblue;
  padding: 1em;
}
