body {
  font-size: 16pt;
  font-family: "Darker Grotesque", sans-serif;
  background-color: aquamarine;
  color: rgb(37, 2, 2);
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

header {
  color: aquamarine;
  background-color: darkblue;
}

header img {
  width: 200px;
  height: auto;
  border: solid;
}

h1 {
  font-size: 1rem;
  font-family: "Caudex", serif;
  color: aquamarine;
  padding: 1rem;
}

footer {
  color: aquamarine;
  background-color: darkblue;
}
