body {
  font-size: 16pt;
  background-color: aquamarine;
  color: rgb(37, 2, 2);
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

header {
  color: aquamarine;
  background-color: darkblue;
}

header img {
  width: 200px;
  height: auto;
}

h1 {
  font-size: 2rem;
  color: aquamarine;
  padding: 1rem;
  justify-content: center;
}
